body {
    min-width: 300px;
}

.logo {
    width: 100px;
}

#title {
    display: inline-block;
    margin: 0px;
    position: absolute;
    top: 5%;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
/*    display: inline-block;*/
}

.buttonContainer {
    background-color: #D4D4D4;
    border-radius: 15px;
    display: flex;
    align-items: center;
/*    width: 350px;*/
    margin-top: 10px;
}

.toggle{
/*    display: inline-block;*/
/*    margin-right: 0px;*/
    
    position: absolute;
    right: 35px;
    background: transparent;
    border: none;
    height: 45px;
	width: 40px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.toggle .dark-mode-toggle, .toggle .night-mode-toggle, .toggle .high-contrast-toggle {
    background: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    width: 35px;
    transition: 1s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
}

.dark-mode-toggle, .night-mode-toggle, .high-contrast-toggle {
    margin: 0;
    width: 45px !important;
    height: 25px;
    z-index: 20;
    border-radius: 50px;
    background: transparent;
    border: 3px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1000;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
/*
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
*/
}

.dark-mode-toggle span, .night-mode-toggle span, .high-contrast-toggle span {
    height: 26px;
    width: 26px;
    right: 17px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    /* -webkit-transition: .4s ease !important;
    -o-transition: .4s ease !important;
    transition: .4s ease !important; */
}

.dark-mode-toggle span:hover, .night-mode-toggle span:hover, .high-contrast-toggle span:hover {
    background: #F7F7F7
}

body.dark-mode .dark-mode-toggle span, body.night-mode .night-mode-toggle span, body.high-contrast .high-contrast-toggle span {
    /* transition: 1s ease; */
    left: 17px;
}

/* .DTspan {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: 0.3s ease;
} */


/* Slider Styles uwu :3 */

.slidecontainer {
    width: 100%; /* Width of the outside container */
    padding-right: 15px;
    padding-left: 35px;
  }

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    outline: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #E6E6E6;
    height: 6px;
    border-radius: 3px;
}
  
input[type="range"]::-moz-range-track {
    background: #E6E6E6;
    height: 6px;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: -7px;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #F7F7F7
}